:root{
    --background-header: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    --background-btn: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    --border-color: #D5D4D8;
    --text-color: #0D0D0D;
}

/* Global section */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #CDCDCD;
}

p{
    font-size: 12px;
}

.app--container{
    width: 550px;
    margin: 2rem auto;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
}

/* Header section */

.flex{
    display: flex;
    align-items: center;
}

.header--container{
    background: var(--background-header);
    justify-content: space-between;
    box-sizing: border-box;
    height: 55px;
    padding: 1rem;
    color: #FFFFFF;
    border-radius: 5px 5px 0 0 ;
}

.header--troll{
    width: 40px;
}

.header--title{
    font-weight: 700;
    padding-left: .5rem;
    font-size: 21px;
    font-family: 'Karla', sans-serif;

}

/* Inputs container */

.inputs--container{
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.inputs--input---subcontainer{
    justify-content: space-between;
    gap: 1rem;
    box-sizing: border-box;
}

input{
    width: 222px;
    height: 35px;
    outline: 0;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    text-indent: .5rem  ;
    border-radius: 5px;
}

button{
    width: 477px;
    height: 40px;
    background: var(--background-btn);
    border: none;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: -0.1em;
    cursor: pointer;
}

.inputs--meme{
    margin-top: 2rem;
    border-radius: 5px;
    max-width: 100%;
    max-height: 300px;
}